{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    ["env", { "modules": false }]
  ],
  // use dynamic import
  "plugins": ["syntax-dynamic-import"],
  // for jest to use es modules
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
